<h1>About</h1><br>
	<p>
	This database contains information regarding all of the Belt Railway Company of Chicago's structures.
	<br><br>
	<!--<h4>The BRC</h4>-->
	The Belt Railway is the largest intermediate switching terminal railroad in the United States, employing approximately 520 people. The Belt has 28 miles of mainline route with more than 300 miles of switching tracks, allowing it to interchange with every railroad serving the Chicago rail hub. The Belt’s Clearing Yards span a 5.5 mile distance among 786 acres, supporting more than 250 miles of track.<br><br>With Chicago being the largest hub of the railroad industry, very few rail cars travel transcontinentally without coming through Chicago. Owner lines, as well as several other railroads, bring trains to the Belt Railway to be efficiently separated, classified, and re-blocked for cross-country departure. The Belt Railway currently dispatches on a service-driven basis more than 8,400 rail cars per day. At Clearing Yards, employees are able to classify between 40 and 50 miles of train consists every 24 hours.<br><br>The Belt Railway has the ability to service, by rail, approximately 100 industries. It also offers unique industrial and intermodal facility development opportunities – reasonable land value, taxes, and zoning requirements, planned especially for markets seeking a neutral locale with competitive access. A location on the Belt Railway is equivalent to having a location on each Chicago Railroad.
	<br><br>
	Created by AECOM
	</p>